@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  background-color: #000 !important;
  color: #fff !important;
}

.bg-repeating-lines-dark {
  background-image: linear-gradient(
    transparent calc(100% - 1px),
    rgba(0, 0, 0, 0.3)
  );
}
